.add-field {
	font-size: 2em; 
	color: #ccc; 
	cursor: pointer;
	margin-top: 26px
}

.control {
	color: #ccc;
	cursor: pointer;
}

.badge-primary {
	color: white !important;
}

.alert {
	position: absolute;
    z-index: 999999;
    top: 21px;
    left: 40%;
}

.dark-mode {
	background-color: #24292e;
	color: white;
}

.error-msg {
	display:none;
	color:red;
	float: left;
}

.visible {
	display: block;
}

.text-small {
	font-size: small;
	letter-spacing: 1px;
}

.pull-left {
	float: left;
}

.control, .control-data {
	letter-spacing: 1px;
}

.field-section {
	margin-bottom: 10px;
}