.add-field {
	font-size: 2em; 
	color: #ccc; 
	cursor: pointer;
	margin-top: 10%;
	margin-left: 48%;
}

.add-field:hover {
	font-size: 2.2em;
}

.control {
	color: #ccc;
	cursor: pointer;
}

.badge-primary {
	color: white !important;
}

.alert {
	position: absolute;
    z-index: 999999;
    top: 21px;
    left: 40%;
}

.dark-mode {
	background-color: #24292e;
	color: white;
}

.error-msg {
	display:none;
	color:red;
	float: left;
}

.visible {
	display: block;
}